# Entornos virtuales
fastapi-env/
venv/
.env

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo

# Configuración local de VS Code
.vscode/

# Archivos grandes o innecesarios
*.zip
*.shp
*.dbf
*.prj
*.cpg

# Archivos de sistema
.DS_Store
Thumbs.db
# Archivos grandes que no deben subirse
*.geojson
logs_uso_api.txt
data/Estados/*.shx
data/Municipios/*.shx
